html {
	scrollbar-width: normal;
	scrollbar-color: red;
}
::-webkit-scrollbar {
	width: 12px;
	
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #00c6ff);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {/*00c6ff*/
	background: linear-gradient(transparent, yellow);/*30ff00*/
	
}
body {
	background-color: lightblue;
	margin: 0;
	background-image: url(backg.jpeg);
	background-size: cover;
	
}
/*header backg color*/
.headi {
	background-color: black;
	width: 100%;
	height: 110px;
}
/*header text*/
h1 {
	text-align: center;
	margin-top: -70px;
	color: lime;
	font-size: 35px;
	letter-spacing: 2px;
	margin-left: 70px;
	font-family: arial;
	transition: 0.5s;
}

h1:hover {
	color: red;
	transition: 1s;
}

/*menu icon*/
.allmenuicon {
	margin-left: 43px;
	margin-top: -73px;
}
.menuicon {
	width: 51px;
	height: 6px;
	background-color: white;
	margin: 9px 0;
}
#buttmenuicon {
	background-color: black;
}
/*side bar*/
#allsidebar {
	background-color: black;
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	transition: 1s;
	z-index: 1;
	overflow-x: hidden;
}
/*anchor like home, about...*/
#allsidebar a {
	width: 0;
	height: 0;
	padding: 10px 20px;
	display: block;
	font-size: 22px;
	text-decoration: none;
	color: red;
	padding: 25px 30px;
	margin: 0;
	transition: 1.9s;
}
a:after {
	content: "";
	position: absolute;
	background-color: blue;
	height: 3px;
	width: 0px;
	left: 0;
	margin-left: 20px;
	transition: 1s;
	
}
#allsidebar a:hover {
	color: yellow;
	transition: 1s;
}

a:hover:after {
	width: 150px;
}
.sidebar {
	
	margin-left: 30px;
	margin-top: 40px;
}

h3 {
	color: white;
	font-family: cursive;
	font-size: 35px;
	margin-top: 40px;
	margin-left: 30px;
}
/*X icon*/
#ex {
	font-family: arial;
	float: right;
	margin-right: 15px;
	margin-top: 50px;
	font-size: 24px;
	width: 45px;
	height: 40px;
	font-weight: bold;
	background-color: gray;
	
	color: black;
	

}/*LOG IN*/
form {
	background-color: #F5F5F5FF;
	width: 500px;
	height: 540px;
	margin-left: 260px;
	margin-top: 100px;
	border-radius: 20px;
}
.login {
	
}
h2 {
	text-align: center;
	height: 0;
	padding: 40px;
	font-size: 37px;
	font-family: arial;
	
}

#error {
	
	width: 470px;
	height: 40px;
	margin-top: -10px;
	background-color: rgba(255, 0, 0, 0.1);
	border-radius: 9px;
	border: 0.px solid #EF9A9A;
	margin-left: 15px;
	display: none;
	
	

		

	
}
h5 {
	margin-top: 5px;
	text-align: center;
	font-size: 20px;
	font-family: arial;
	color: #C62828;
	padding: 10px 0px;
	
}
.headertwo {
	
}
.name {
	padding: 2px 31px;
	font-size: 18px;
	margin-bottom: 2px;
	font-size: 20px;
	font-family: sans serif;
	margin-top: -12px;
}
#username {
	margin-left: 32px;
	padding: 7px 168px;
	margin-bottom: 20px;
	text-align: left;
	font-size: 20px;
	font-family: arial;
	letter-spacing: 1px;
	padding-left: 20px;
}
.pass {
	padding: 2px 31px;
	font-size: 18px;
	margin-bottom: 2px;
	font-size: 21px;
	font-family: sans serif;
}
#passwords {
	margin-left: 32px;
	padding: 7px 168px;
	font-size: 20px;
	font-family: arial;
	letter-spacing: 1px;
	padding-left: 20px;
	
}
.showpass {
	margin-left: 30px;
	margin-top: -24px;
	
	
}
#labeli {
	margin-top: -21px;
	margin-left: 30px;
	font-family: arial;
	font-size: 17px;
	
	
}
#box {
	width: 20px;
	height: 15px;

	
}
#log {
	margin-top: 10px;
	margin-left: 32px;
	padding: 10px 188px;
	font-size: 21px;
	font-family: arial;
	background-color: violet;
	border: 1px solid black;
	border-radius: 15px;
}
